body{
    color: black;
    font-size: large;
}

h1
{
    color: #10CA02;
    font-weight: bolder;
    font-size: x-large;
    
}
h2{
    color: black;
    font-weight:bolder ;
    font-size: 1.5rem;
    text-align: center;
}
{
    color: ;
}
h4{
    font-weight: bold;
}

.project{
    padding:2rem;
}
