body{
    color: black;
    font-size:;
}
body::-webkit-scrollbar {
    display: none;
}

/* Hide scroll bars for Firefox */
body {
    scrollbar-width: none;
}

h1
{
    color: #10CA02;
    font-weight: bolder;
    font-size: x-large;
    
}
h2{
    color: black;
    font-weight:bolder ;
    font-size: 1.5rem;
    text-align: center;
}
h4{
    font-weight: bold;
}


